<h2>Les Sections</h2>

<a routerLink="/add-section">Ajouter une section</a>

<table>
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let section of sections">
            <td>{{section.id}}</td>
            <td>{{section.name}}</td>
            <td>{{section.description}}</td>
            <td> 
                <button>Ajouter un livre</button>
                <a routerLink="/section-detail/{{section.id}}">Voir/Modifer la section</a>
                <button type="button" title="Supprimer la section" (click)="deleteSection(section.id)">X</button>
            </td>
        </tr>
    </tbody>

</table>